<header class="bgIndex">
	<div class="col-xs-12 col-sm-12 col-md-12 header-size">
		<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-5">
			<h1 class="h1Size animated bounceInUp">GESTIONA TU ALMACÉN, CONTROLA TUS PRODUCTOS EN TODO MOMENTO</h1>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 warehouseMN hidden-xs hidden-sm">
			<%= image_tag("warehouse-icon.png", :alt => "warehouse-icon", class: 'animated bounceInDown') %>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-8 mT10 animated bounceInUp">
			<div class="form-group"><br><br>
			    <div class="col-sm-9">
			       <div class = "input-group">
               			<input id="organization_value" type = "text" class = "form-control" placeholder="Nombre de tu Empresa">
               			<span class = "input-group-btn">
                  			<%= link_to "Enviar", new_suscription_path , remote: true, class: "btn btn-centris btn-send" %>
               			</span>
               
            		</div>
			    </div>
			</div>
		</div>
	</div>
</header>