<div style="background-color: #f9f9f9; width: 60%; height: auto; border-radius: 8px; margin: 0 auto;">
	<div style="margin-top: 30px; margin-bottom: 30px;">
		<div style="padding: 30px;">
			<p>Esto es una demo</p>
		</div> 
	</div>
</div>