<br>
<div style="border: 1px solid #e2e2e4;background: #fff;width: 60%; height: auto; border-radius: 8px; margin: 0 auto;">
  <div style="margin-top: 30px; margin-bottom: 30px;">
    <div style="">
      <img style="margin: 0 auto;" src="http://lvh.me:3000/assets/logo_centris-96212a8701b9b41b76e413393288249aeefd0df307f2464e61850f8b66384a96.jpg">
    </div>
    <div style="padding: 30px;">
 <p>Hola <%= @user.fullname.upcase %></p><br>
 <p style="text-align:center;">¡Bienvenido <%= @user.organization.upcase %>  a <span style="font-weight:bold;">Wecentris</span>, una plataforma de gestión multialmacén, multiusuario !</p><br>
 <p>Estamos muy contentos de que hayas tomada la decisión de suscribirte en nuestra plataforma Wecentris, el que te permitirá tener un mejor rendimiento y procesamiento de tus operaciones internas de inventario de almacén, de manera  amigable, útil y práctico.</p>
 <p>Si quieres adquirir el software, te invitamos a contactar con nuestro equipo para poder agendar una reunión y así conozcas más detalles de nuestro servicio.</p>
 <p>Estamos en contacto.</p><br>
 <p>Saludos,</p>
 <p style="font-weight:bold;">Team Walkant</p>
 <p style="font-weight:bold;">Contáctanos:</p>
 <p><span style="font-weight:bold;">Celular:</span> +51 985284455</p>
 <p><span style="font-weight:bold;">Teléfono:</span> (01) 2967992</p>
 <p><span style="font-weight:bold;">Correo:</span><a href="mailto:team@walkant.com">team@walkant.com</a></p>
    </div> 
  </div>
</div>