<div class="col-lg-12">
	<!--breadcrumbs start -->
	<ul class="breadcrumb">
		<li><a href="#">Home</a></li>
		<li><a href="#">Library</a></li>
		<li class="active">Data</li>
	</ul>
<!--breadcrumbs end -->
</div>
