<%= simple_form_for @movement do |f| %>
  <tbody>
    <tr>
      <td>
        <%#= f.input :product_id, collection: Sku.where(product_id: @movement.product_id, warehouse_id: @movement.originable_id).all, label_method: :sku, value_method: :id, include_blank: 'Elija sku...', label: false %>
      </td>
      <td><%= submit_tag 'Guardar SKU', class: 'btn btn-danger' %></td>
    </tr>
  </tbody>
<% end %>
