  <%= simple_form_for [@line_item, @sku], remote: true do |l| %>
    <tr>
      <td>
        <input type="text" class="form-control">
      </td>
      <!-- <td>
      %#= l.input :quantity, label: false %>
      </td>
      <td>
      <%#= link_to "Crear Serial", new_sku_path, remote: true, class: "btn btn-warning" %>
      </td> -->
      <td>
        <%= submit_tag 'Guardar linea', class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>          