<table class="table">
  <tbody>
    <tr>
      <td>
        <%= f.input :product_id, collection: Product.all, label_method: lambda { |product| "#{product.name} / #{product.description.brand} - #{product.description.sub_brand}" }, value_method: :id, include_blank: 'Elija producto...', label: false %>
      </td>
      <td>
        <%= f.input :sku, label: false %>
      </td>
    </tr>
  </tbody>
</table>
