    <div class="col-xs-12 col-md-12 col-md-12 col-lg-12 size-adaptable">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h4>* Listado de Proyectos</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= link_to 'Crear nuevo', new_project_path, class: 'btn btn-success' %>
        </div>
    </div>

        <div class="col-sm-12 col-md-12">
            <section class="panel">
                <header class="panel-heading">
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                                <tr>
                                    <th>Codigo Proyecto</th>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @projects.each do |project| %>
                                  <tr>
                                    <td><%= project.id %></td>
                                    <td><%= project.name %></td>
                                    <td><%= project.address %></td>
                                  </tr>
                                <% end %>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
