    <div class="col-xs-12 col-md-12 col-md-12 col-lg-12 size-adaptable">
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-10">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <h4>* Listado de Productos</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-9 col-lg-9">
            <table class="table table-bordered">
                <thead>
                  	<tr>
                        <th>Nombre</th>
                        <th>Categoria Producto</th>
                        <th>Clasificacion</th>
                        <th>*</th>
                    </tr>
                </thead>
                <tbody>
                    <% @products.each do |product| %>
                    <tr>
                        <td><%= product.name %></td>
                        <td><%= product.category_product.name %></td>
                        <td><%= product.classification.name %></td>
                        <td><%= link_to 'Editar', edit_product_path(product) %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
