<section class="wrapper">
    <div class="col-xs-12 col-md-12 col-md-12 col-lg-12 size-adaptable"> 
        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-10"> 
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <h4>* Listado de Productos</h4>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-9 col-lg-9">
            <table class="table table-bordered">
                <thead>
                  	<tr>
                    	<th>Codigo Guia</th>
                        <th>Proveedor</th>
                        <th>Producto</th>
                        <th>Estado</th>
                        <th>Fecha Creacion</th> 
                        <th>*</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>X00001</td>
                        <td>Doe</td>
                        <td>TV-60 P</td>
                        <td>Borrador</td>
                        <td>18-04-2016</td>
                        <td class="provider-list">+</td>
                    </tr>
                    <tr class="show-provider-list">
                        <td>X00002</td>
                        <td>Doe</td>
                        <td>TV-60 P</td>
                        <td>Borrador</td>
                        <td>18-04-2016</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>X03002</td>
                        <td>Angelus</td>
                        <td>CEL-30 P</td>
                        <td>Borrador</td>
                        <td>18-04-2016</td>
                        <td class="provider-list">+</td>
                    </tr>
                    <tr>
                        <td>X01013</td>
                        <td>Docker</td>
                        <td>TV-60 P</td>
                        <td>Borrador</td>
                        <td>18-04-2016</td>
                        <td class="provider-list">+</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
