    <section class="wrapper">
        <form class="col-xs-12 col-md-12 col-md-12 col-lg-12 size-adaptable"> 
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-10"> 
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <h4>Nueva Producto</h4>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
                        <button class="btn btn-info">Guardar</button>
                    </div>
                 </div>
                 <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <%= link_to 'Listar', products_index_path, class: 'btn btn-warning' %>
                 </div>
             </div>

            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-9 col-lg-9 border-form">
                <div class="form-horizontal col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <div class="form-group">
                            <label for="exampleInputName2">Nombre</label>
                            <input type="text" class="form-control"></input>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Unidad</label>
                            <input type="number" class="form-control" id="exampleInputEmail2">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Categoria Producto</label>
                            <select class="form-control">
                                <option>Categoria producto 1</option>
                                <option>Categoria producto 1</option>
                                <option>Categoria producto 1</option>
                            </select>
                        </div>
                    </div>                       
                    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-5 col-lg-offset-2 col-lg-5">
                        <div class="form-group">
                            <label for="exampleInputEmail2">Descripcion</label>
                            <input type="text" class="form-control" id="exampleInputEmail2">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">Clasificacion</label>
                            <select class="form-control">
                                <option>Clasificacion 1</option>
                                <option>Clasificacion 1</option>
                                <option>Clasificacion 1</option>
                            </select>
                        </div>
                    </div>                                            
                </div>                
            </div>
        </form>
    </section>
