<div id="myModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Crear Skus</h4>
        </div>
      <div class="modal-body">
        <div class="size-adaptable border-form">
          <div class="panel-body">
            <table class="table">
              <thead>
                  <tr>
                      <th>Producto</th>
                      <th>SKU</th>
                      <th>*</th>
                  </tr>
              </thead>
              <% @line_item.quantity.times do %>
                <%= render 'skus/form' %>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
