<div id="myModal" class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= product.name.upcase %></h4>
      </div>
      <div class="modal-body">
        <div class="size-adaptable border-form">
          <table class="table">
          	<thead>
          		<tr>
                <th>Skus</th>
          			<th>Status</th>
          		</tr>
          	</thead>
          	<tbody>
              <% Sku.filtered_skus(warehouse, product).by_statuses([0, 1]).each do |sku| %>
                <tr>
                  <td><%= sku.sku %></td>
                  <td><%= t(sku.status) %></td>
                </tr>
              <% end %>
          	</tbody>
          </table>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
