    <div class="col-xs-12 col-md-12 col-md-12 col-lg-12 size-adaptable">   
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h4>* Listado de Almacen</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= link_to 'Crear nuevo', new_warehouse_path, class: 'btn btn-success' %>
        </div>
    </div>

        <div class="col-sm-12 col-md-12">
            <section class="panel">
                <header class="panel-heading">
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Proyecto</th>
                                    <th>Responsable</th>
                                    <th class="hidden-phone">Ubicación</th>
                                    <th class="hidden-phone">Dirección</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr class="gradeX">
                                  <td>Trident</td>
                                  <td>Internet
                                      Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center hidden-phone">4</td>
                                  <td class="center hidden-phone">X</td>
                                  <td>madafaqa</td>
                              </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>