    <div class="col-xs-12 col-md-12 col-md-12 col-lg-12 size-adaptable">   
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h4>* Listado Categoria productos</h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <%= link_to 'Crear nuevo', new_category_product_path, class: 'btn btn-success' %>
        </div>
    </div>

        <div class="col-sm-12 col-md-12">
            <section class="panel">
                <header class="panel-heading">
                </header>
                <div class="panel-body">
                    <div class="adv-table">
                        <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
                                <tr>
                                  <th>Nombre</th>
                                  <th>Producto Dependiente</th>
                                </tr>
                            </thead>
                            <tbody>
                              <% @category_products.each do |c| %>
                              <tr>
                                <td><%= c.name %></td>
                                <td><%= c.ancestry %></td>
                              </tr>
                              <% end %>  
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>